<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GGChatDB" connectionString="server=.;database=GGChatDB;uid=sa;pwd=123456;"/>
  </connectionStrings>
  <appSettings>
    <add key="serverIP" value="192.168.99.110"/>
    <add key="serverPort" value="1111"/>
    <add key="IsLocalserverIP" value="true"/>
    <add key="userImgPath" value="\Images\userImg\"/>
    <add key="defaultHeadImg" value="default.jpg"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>